<!-- ======= About Section ======= -->
<section id="about" class="about-mf sect-pt4 route">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="box-shadow-full">
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-sm-6 col-md-5">
                  <div class="about-img">
                    <img
                      src="images/profile2.png"
                      class="img-fluid rounded b-shadow-a"
                      alt=""
                    />
                  </div>
                </div>
                <div class="col-sm-6 col-md-7">
                  <div class="about-info">
                    <p>
                      <span class="title-s">Name: </span>
                      <span>Raul Milea</span>
                    </p>
                    <p>
                      <span class="title-s">Profile: </span>
                      <span>Full Stack Developer</span>
                    </p>
                    <p>
                      <span class="title-s">Email: </span>
                      <span>raaul122704@gmail.com</span>
                    </p>
                    <p>
                      <span class="title-s">Phone: </span>
                      <span>(077) 395-0089</span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="skill-mf">
                <ul class="skills-bar-container">
                  <li>
                    <div class="progressbar-title">
                      <h3>HTML5</h3>
                      <span class="percent" id="html-pourcent"></span>
                    </div>
                    <div class="bar-container">
                      <span
                        class="progressbar progressred"
                        id="progress-html"
                      ></span>
                    </div>
                  </li>
                  <li>
                    <div class="progressbar-title">
                      <h3>CSS / SASS</h3>
                      <span class="percent" id="css-pourcent"></span>
                    </div>
                    <div class="bar-container">
                      <span
                        class="progressbar progressblue"
                        id="progress-css"
                      ></span>
                    </div>
                  </li>

                  <li>
                    <div class="progressbar-title">
                      <h3>JavaScript / jQuery</h3>
                      <span class="percent" id="javascript-pourcent"></span>
                    </div>
                    <div class="bar-container">
                      <span
                        class="progressbar progresspurple"
                        id="progress-javascript"
                      ></span>
                    </div>
                  </li>

                  <li>
                    <div class="progressbar-title">
                      <h3>Node.JS</h3>
                      <span class="percent" id="php-pourcent"></span>
                    </div>
                    <div class="bar-container">
                      <span
                        class="progressbar progressorange"
                        id="progress-php"
                      ></span>
                    </div>
                  </li>

                  <li>
                    <div class="progressbar-title">
                      <h3>Webpack</h3>
                      <span class="percent" id="angular-pourcent"></span>
                    </div>
                    <div class="bar-container">
                      <span
                        class="progressbar progressgreen"
                        id="progress-angular"
                      ></span>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-6">
              <div class="about-me pt-4 pt-md-0">
                <div class="title-box-2">
                  <h5 class="title-left">About me</h5>
                </div>
                <p class="lead">
                  I am passionate about technology and web development, always
                  looking for new challenges. I enjoy creating solutions that
                  improve user experience and continuously learning to stay up
                  to date with new trends.
                </p>
                <p class="lead">
                  I am fascinated by UI/UX design and creating intuitive and
                  fast websites. I focus on writing clean and efficient code to
                  provide innovative and high-performance solutions.
                </p>
                <p class="lead">
                  I want to continue evolving as a web developer, collaborating
                  on projects that bring real impact. In the long term, I want
                  to learn about mobile applications and emerging technologies.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End About Section -->
