<!-- ======= Hero Section ======= -->
<div id="hero" class="hero route bg-image" style="background-image: url(images/banner-img.png)">
    <div class="overlay-itro"></div>
    <div id="particles-js"></div>

    <div class="hero-content display-table">
        <div class="table-cell">
            <div class="container">
                <p class="display-6 color-d"><i class="bi bi-caret-down"></i></p>
                <h1 class="hero-title mb-4" data-tr="myname">
                    I am <span><strong>Raul</strong></span>
                </h1>
                <p class="hero-subtitle">
                    <span class="typed" data-typed-items="Developer, Freelancer, Programmer"></span>
                </p>
                <ul class="list-inline list-social">
                    <!-- <li>
                        <a href="#" class="social-icon social-icon-facebook" target="_blank">
                            <i class="bi bi-facebook"></i>
                            <i class="bi bi-facebook"></i>
                        </a>
                    </li> -->
                    <!-- <li>
                        <a href="#" class="social-icon social-icon-twitter" target="_blank">
                            <i class="bi bi-twitter-x"></i>
                            <i class="bi bi-twitter-x"></i>
                        </a>
                    </li> -->
                    <li>
                        <a href="linkedin.com/in/milea-raul-725929349" class="social-icon social-icon-linkedin" target="_blank">
                            <i class="bi bi-linkedin"></i>
                            <i class="bi bi-linkedin"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="social-icon social-icon-instagram" target="_blank">
                            <i class="bi bi-instagram"></i>
                            <i class="bi bi-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/raaaul127" class="social-icon social-icon-github" target="_blank">
                            <i class="bi bi-github"></i>
                            <i class="bi bi-github"></i>
                        </a>
                    </li>

                </ul>
                <p class="pt-3 intro-content ">
                    <a class="button stroke smoothscroll" href="#about" title="" data-tr="btn.about">More About Me <i
                            class="bi bi-arrow-bar-down"></i></a>

                </p>
            </div>
        </div>
    </div>
</div><!-- End Hero Section -->