<!-- ======= Contact Section ======= -->
<section
  id="contact"
  class="paralax-mf footer-paralax bg-image sect-mt4 route"
  style="background-image: url(images/banner2.jpg)"
>
  <div class="overlay-mf"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="contact-mf">
          <div id="contact" class="box-shadow-full">
            <div class="row">
              <div class="col-md-6">
                <div class="title-box-2">
                  <h5 class="title-left" data-tr="h5.contact">Send Message Us</h5>
                </div>
                <div>
                  <form action="https://formspree.io/f/xeoaekkz" method="post" role="form" class="php-email-form" id="form" novalidate> 
                    <div class="row">
                      <div class="col-md-12 mb-3">
                        <div class="form-group">
                          <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required/>
                          <div class="valid-feedback" data-tr="valid.name">Your name is valid!</div>
                          <div class="invalid-feedback" data-tr="invalid.name">Your name is not valid!</div>
                        </div>
                      </div>
                      <div class="col-md-12 mb-3">
                        <div class="form-group">
                          <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required/>
                          <div class="valid-feedback" data-tr="valid.email">Email is valid!</div>
                          <div class="invalid-feedback" data-tr="invalid.email">Email is not valid!</div>
                        </div>
                      </div>
                      <div class="col-md-12 mb-3">
                        <div class="form-group">
                          <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required/>
                          <div class="valid-feedback" data-tr="valid.subject">Subject is valid!</div>
                          <div class="invalid-feedback" data-tr="invalid.subject">Subject is not valid!</div>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <textarea class="form-control" name="message"rows="5" placeholder="Message" required></textarea>
                          <div class="valid-feedback" data-tr="valid.text">The text is complete!</div>
                          <div class="invalid-feedback" data-tr="invalid.text">The text is not complete!</div>
                        </div>
                      </div>
                      <div class="col-md-12 text-center my-3">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message" data-tr="valid.message">Your message has been sent. Thank you!</div>
                      </div>
                      <div class="col-md-12 text-center">
                        <button type="submit" class="button button-a button-big button-rouded" data-tr="btn.trimite">Send</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="col-md-6">
                <div class="title-box-2 pt-4 pt-md-0">
                  <h5 class="title-left" data-tr="h5.contact">Get in Touch</h5>
                </div>
                <div class="more-info">
                  <p class="lead" data-tr="p.contact">
                    I'm always excited to meet new people and explore new
                    professional challenges. If you'd like to discuss how we can
                    collaborate or need additional information, don't hesitate
                    to send me a message. I'll get back to you as soon as
                    possible!
                  </p>
                  <ul class="list-ico">
                    <li>
                      <span class="bi bi-geo-alt"></span> BUCHAREST, SECTOR 3
                    </li>
                    <li><span class="bi bi-phone"></span> +40773952023</li>
                    <li>
                      <span class="bi bi-envelope"></span> raaul122704@gmail.com
                    </li>
                  </ul>
                </div>
                <div class="socials">
                  <ul class="list-inline list-social">
                    <!-- <li>
                      <a
                        href="#"
                        class="social-icon social-icon-facebook"
                        target="_blank"
                      >
                        <i class="bi bi-facebook"></i>
                        <i class="bi bi-facebook"></i>
                      </a>
                    </li>
                    <li>
                      <a
                        href="#"
                        class="social-icon social-icon-twitter"
                        target="_blank"
                      >
                        <i class="bi bi-twitter-x"></i>
                        <i class="bi bi-twitter-x"></i>
                      </a>
                    </li> -->
                    <li>
                      <a
                        href="linkedin.com/in/milea-raul-725929349"
                        class="social-icon social-icon-linkedin"
                        target="_blank"
                      >
                        <i class="bi bi-linkedin"></i>
                        <i class="bi bi-linkedin"></i>
                      </a>
                    </li>
                    <li>
                      <a
                        href="#"
                        class="social-icon social-icon-instagram"
                        target="_blank"
                      >
                        <i class="bi bi-instagram"></i>
                        <i class="bi bi-instagram"></i>
                      </a>
                    </li>
                    <li>
                      <a
                        href="https://github.com/raaaul127"
                        class="social-icon social-icon-github"
                        target="_blank"
                      >
                        <i class="bi bi-github"></i>
                        <i class="bi bi-github"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Contact Section -->
