<!-- resume Section
   ================================================== -->
<section id="resume" class="grey-section sect-pt4 route">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="box-shadow-full">
          <div class="row resume-timeline">
            <div class="col-twelve resume-header">
              <h2 data-tr="title_work">Work Experience</h2>
            </div>
            <!-- /resume-header -->

            <div class="col-twelve">
              <div class="timeline-wrap">
                <div class="timeline-block">
                  <div class="timeline-ico">
                    <i class="bi bi-person-workspace"></i>
                  </div>

                  <div class="timeline-header">
                    <h3 data-tr="title-work1">TikTok Advertising</h3>
                    <p data-tr="data-work1">July 2023 - Nov 2023</p>
                  </div>

                  <div class="timeline-content">
                    <h4 data-tr="subtitle-work1">Video Management</h4>
                    <p data-tr="text-work1">
                      In my role as TikTok Advertising Manager, I managed
                      advertising campaigns on TikTok, focusing on creating
                      innovative ads and optimizing budgets to achieve positive
                      ROI. I used data to adjust strategies and improve campaign
                      performance, using advanced targeting and remarketing
                      techniques to reach the target audience. Advanced
                      targeting techniques were implemented, including the use
                      of pixels and user behavior data to increase campaign
                      accuracy.
                    </p>
                  </div>
                </div>
                <!-- /timeline-block -->

                <div class="timeline-block">
                  <div class="timeline-ico">
                    <i class="bi bi-braces"></i>
                  </div>

                  <div class="timeline-header">
                    <h3 data-tr="title-work2">Front-end Developer</h3>
                    <p data-tr="data-work2">July 2024 - Present</p>
                  </div>

                  <div class="timeline-content">
                    <h4 data-tr="subtitle-work2">Sorcerer of Code</h4>
                    <p data-tr="text-work2">
                      As a true code wizard, I use HTML, CSS, and JavaScript to
                      transform ideas into interactive, user-friendly websites.
                      I focus on visual design and intuitive functionality,
                      ensuring that every detail of your page is perfectly
                      crafted.
                    </p>
                  </div>
                </div>
                <!-- /timeline-block -->

                <div class="timeline-block">
                  <div class="timeline-ico">
                    <i class="bi bi-laptop"></i>
                  </div>

                  <div class="timeline-header">
                    <h3 data-tr="title-work3">Content Creator</h3>
                    <p data-tr="data-work3">Feb 2023 - March 2024</p>
                  </div>

                  <div class="timeline-content">
                    <h4 data-tr="subtitle-work3">Instagram & Social Media</h4>
                    <p data-tr="text-work3">
                      I created and distributed creative video content on TikTok
                      and other platforms, adapting to current trends. I
                      collaborated with 2 companies for sponsored campaigns and
                      optimized the content based on performance analysis,
                      increasing engagement and audience.
                    </p>
                  </div>
                </div>
                <!-- /timeline-block -->
              </div>
              <!-- /timeline-wrap -->
            </div>
            <!-- /col-twelve -->
          </div>
          <!-- /resume-timeline -->

          <div class="row resume-timeline">
            <div class="col-twelve resume-header">
              <h2 data-tr="title_education">Education</h2>
            </div>
            <!-- /resume-header -->

            <div class="col-twelve">
              <div class="timeline-wrap">
                <div class="timeline-block">
                  <div class="timeline-ico">
                    <i class="bi bi-mortarboard"></i>
                  </div>

                  <div class="timeline-header">
                    <h3 data-tr="title-ed1">High School</h3>
                    <p data-tr="data-ed1">Sept 2019 - June 2023</p>
                  </div>

                  <div class="timeline-content">
                    <h4 data-tr="subtitle-ed1">High School Diploma</h4>
                    <p data-tr="text-ed1">
                      I graduated from C. Brâncoveanu High School, where I
                      acquired essential knowledge in my personal formation,
                      through my maturation towards a new stage in life,
                      developing critical thinking and problem-solving skills.
                    </p>
                  </div>
                </div>
                <!-- /timeline-block -->

                <div class="timeline-block">
                  <div class="timeline-ico">
                    <i class="bi bi-mortarboard-fill"></i>
                  </div>

                  <div class="timeline-header">
                    <h3 data-tr="title-ed2">Specialized courses</h3>
                    <p data-tr="data-ed2">June 2022 - Oct 2022</p>
                  </div>

                  <div class="timeline-content">
                    <h4 data-tr="subtitle-ed2">Continuous learning</h4>
                    <p data-tr="text-ed2">
                      I have participated in various courses and workshops to
                      expand my knowledge and skills in key areas such as web
                      development, trading, and personal development. These
                      experiences have given me a solid foundation to
                      confidently approach industry challenges and quickly adapt
                      to new technologies.
                    </p>
                  </div>
                </div>
                <!-- /timeline-block -->

                <div class="timeline-block">
                  <div class="timeline-ico">
                    <i class="bi bi-battery-charging"></i>
                  </div>

                  <div class="timeline-header">
                    <h3 data-tr="title-ed3">Link Academy</h3>
                    <p data-tr="data-ed3">Nov 2024 - Present</p>
                  </div>

                  <div class="timeline-content">
                    <h4 data-tr="subtitle-ed3">Web Developer</h4>
                    <p data-tr="text-ed3">
                      Within the Web Development program at Link Academy, I
                      gained advanced knowledge in essential web technologies,
                      such as HTML, CSS, and JavaScript, and learned to create
                      interactive and responsive websites, focusing on
                      developing efficient and accessible solutions.
                    </p>
                  </div>
                </div>
                <!-- /timeline-block -->
              </div>
              <!-- /timeline-wrap -->
            </div>
            <!-- /col-twelve -->
          </div>
          <!-- /resume-timeline -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /features -->
